$previewer-header-color:#4aa3a3;

.previewer {
    background-color: chartreuse;
 
    .previewer-header {
        box-shadow: 0px 0px 20px;
        background-color: $previewer-header-color;
        border: 1px solid black;
        height: 30px;
        position: relative;

        .previewer-title{      
            position: absolute;
            top: 25%;
            left: 1%;    
        }

        .previewer-expand-button {
            position: absolute;
            top: 25%;
            left: 96%;  
            &:hover {
                color: white; // Change color on hover
            }
        }
    }

    .previewer-content {
        white-space: pre-line;
        overflow-wrap: break-word;
        box-shadow: 0px 0px 20px;
        border: 1px solid black;
        background-color: #c0d8d8;
        padding: 10px;
        
        code {
            background-color: white;
        }

        pre {
            background-color: white;
            white-space: pre-line;
            overflow-wrap: break-word;
        }
        
    }


}
