.markdown {  
    width: 80%;     
    margin: auto;
    padding: 20px;
        
    .markdown-header {
        background-color: #4aa3a3;
        border: 1px solid black;
        height: 30px;
        position: relative;

        .markdown-title{      
            position: absolute;
            top: 25%;
            left: 1%;    
        }

        .markdown-expand-button {
            position: absolute;
            top: 25%;
            left: 95%;  
            &:hover {
                color: white; // Change color on hover
            }
        }
    }

    .markdown-content {
       
        textarea {
            background-color: #c0d8d8;
            width: 100%;
            resize: vertical;
            box-sizing: border-box;
            border: 1px solid black;
            height: 200px; /* Ensure textarea takes full height of .markdown-content */
        }
    }

}

    

